# tee /srv/pillar/env.sls <<-EOF
appname: kubernetes
servers: 
  master: 
    cn-gz-baidu-xf-bcc-1: 172.16.0.2
    cn-gz-baidu-xf-bcc-2: 172.16.0.3
    cn-gz-baidu-xf-bcc-3: 172.16.0.5
  node:
    cn-gz-baidu-xf-bcc-1: 172.16.0.2
    cn-gz-baidu-xf-bcc-2: 172.16.0.3
    cn-gz-baidu-xf-bcc-3: 172.16.0.5
registry: 
  host: 182.61.57.29
  port: 5000
  username: YOUR_REGISTRY_USERNAME
  password: YOUR_REGISTRY_PASSWORD
proxy: 
  host: 104.131.144.180
  port: 22
  username: YOUR_PROXY_USERNAME
  password: YOUR_PROXY_PASSWORD
etcd_prefix: http
etcd_endpoint_port: '2379'
etcd_node_port: '2380'
zabbix_master: 182.61.57.29
service_cidr: 10.254.0.0/16
cluster_cidr: 172.30.0.0/16
cluster_service_ip: 10.254.0.1
cluster_server_ip: 182.61.57.29
cluster_server_port: 6443
cluster_dns: 10.254.0.2
cluster_domain: cluster.local

packages: 
  HTTP_SERVER: xf-repo.cdn.bcebos.com
  rpms: 
    centos7: 
      common: 
        util-linux: 2.23-33
        httpd-tools: 2.4.6-45
      docker: 
        docker-client: 1.12.6-32
        docker-common: 1.12.6-32
      salt: 
        salt-master: 2016.11.5-3
        salt-minion: 2016.11.5-3
        salt-repo: latest-2
      kubernetes:
        kubelet: 1.6.6
        kubeadm: 1.6.6
        kubectl: 1.6.6
        kubernetes-cni: 0.5.1
  images: 
    docker.io: 
      calico: 
        node: v1.3.0
        cni:v1.9.1
        typha: v0.2.2
      weaveworks: 
        weave-kube: latest
        weave-npc: latest
    gcr.io: 
      google_containers: 
        kube-proxy-amd64: v1.6.6
        kube-controller-manager-amd64: v1.6.6
        ube-apiserver-amd64: v1.6.6
        kube-scheduler-amd64: v1.6.6
        kube-discovery-amd64: 1.0
        k8s-dns-sidecar-amd64: 1.14.2
        k8s-dns-kube-dns-amd64: 1.14.2
        k8s-dns-dnsmasq-nanny-amd64: 1.14.2
        etcd-amd64: 3.0.17
        pause-amd64: 3.0
        #
        kubernetes-dashboard-amd64: v1.6.1

        elasticsearch: v2.4.1-2
        kibana:v4.6.1-1
        event-exporter: v0.1.0-r2
        prometheus-to-sd: v0.1.2-r2
        ip-masq-agent-amd64: v2.0.2
        metadata-proxy: 0.1.2
        node-problem-detector: v0.4.1

        defaultbackend: 1.3
        heapster-amd64: v1.4.0-beta.0
        heapster-influxdb-amd64: v1.1.1
        heapster-grafana-amd64: v4.0.2
        addon-resizer: 1.7
        cluster-proportional-autoscaler-amd64: 1.1.2-r2

        etcd-empty-dir-cleanup: 3.0.14.0
    quay.io: 
      coreos: 
        flannel: v0.8.0-rc1-amd64
# EOF